<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>wellcome to the wikipedia of football</title>
    <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/009/567/499/original/fifa-logo-fifa-world-cup-free-vector.jpg");
            height: 50%;
/*            background-position: center;*/
            background-repeat: no-repeat;
            background-size: cover;
            }
    </style>
    <style>
        .button {background-color: #f44336;}
        .button1 {background-color: green;}
    </style>
</head>
<body>
    <center><h1>football wikipedia</h1> </center>

    <div>
    <center>
    <form method="POST" action="/"> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <h3>Please fill up your information below to sign in.</h3>
    <div>
        <label><h1>Email address*</h1></label>
        <div>
            <input id = "fafa"  type="email"  name="email" id="emailStr">
        </div>
    <div>
        <label><h1>Password*</h1></label>
        <div class="input-group">
            <input id = "fafa"  type="password"  name="password" minlength="6">
        </div>
    </div>
    <div>
        <input class="button1" id = "fafa" type="submit"/>
    </div>
    
    </form>
    <button class="button"><a href="/signuppro" id="fafa" style ="text-decoration: none"> to signup</button>
    </center>
    </div>
</body>
</html>