<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/css/style.css">
        <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/009/567/499/original/fifa-logo-fifa-world-cup-free-vector.jpg");
            height:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
    </style>
</head>
<body>
    <center>
        <h1>sign up</h1>
    <form action="/signuppro" method="POST">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <input id = "jj" type="text"  name="email"  placeholder="email">
        </div>  
        <br>
        <div>
            <input id ="jj"  type="text"  name="firstname" placeholder="first name">
        </div>
        <br> 
        <div>
            <input id ="jj" type="text"  name="lname" placeholder="last name">
        </div>
        <br> 
        <div>
            <input id ="jj" type="text"  name="uname" placeholder="user name">
        </div>
        <br>   
        <div>           
            <input id ="jj" type="password"  name="password" placeholder="password">
        </div>
        <div>
            <input id ="jj" type="submit"/>
        </div>
    </center>
    </form>
</body>
</html>